<main class="p-3">

	<div class="card p-3">
		<p>
			Hello world!!!
		</p>
	</div>

	<div class="card p-3 m-3">
		<h1 id="test">
			Hello world!!!
		</h1>

		<pre>	This is Spatra</pre>

		<h2>
			This is the <span>Way . . . </span>
		</h2>

	</div>

</main>