{{!-- <div class="p-5 box">
    <h1 style="color: yellow">This is SPARTA!!!!!</h1>

    <h1 id="user">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

    <h1>This is SPARTA!!!!!</h1>

    <h2>This is SPARTA!!!!!</h2>

    <p>THIS IS SPARTA</p>

    <button type="button" class="button">Купити</button>
</div>

<section class="p-5 box">
    <h1>This is SPARTA!!!!!</h1>
    <p class="user">THIS IS SPARTA</p>
</section>

<footer class=" p-5 box">
    <h2>This is SPARTA!!!!!</h2>

    <p class="user">
        <em>THIS IS SPARTA</em>
    </p>
    <em>THIS IS SPARTA</em>

</footer> --}}
<div class=" card p-5 m-5 card-dark">

    <ul>
        <li class="item">111111</li>
        <li class="item">222222</li>
        <li class="item">333333</li>
        <li class="item">444444</li>
        <strong class="item">STRONG</strong>
    </ul>

    <div class="item">1111111</div>
    <div class="item">1111111</div>
    <div class="item">1111111</div>
    <p class="item">222222</p>
    <article class="item">333333</article>
    <p class="item">4444444</p>

    <div>
        <p class="item">1</p>
        <p class="item">2</p>
        <p></p>
        <p class="item">1</p>
        <p class="item">2</p>
        <p class="item"></p>
        <p class="item">1</p>
        <p class="item">2</p>
        <p class="item">3</p>
        <p class="item">1</p>
        <p class="item">2</p>
        <p class="item">3</p>
    </div>
</div>