:root {
  background: rgba(6, 127, 241, 0.452);
}

html {
  max-width: 720px;

  background-color: aqua;
}

body {
  background: #f8f6f6;
}

* {
  color: red;
}

h1 {
  color: green;
}

.box {
  background: #a9a5a5;
}

#user,
.user {
  color: blue;
}

h1,
h2,
button {
  color: blueviolet;
}

.button {
  color: brown;
}

div > p {
  color: coral;
}

#box > p {
  color: cadetblue;
}

footer > .user {
  color: darkorange;
}

footer > h1 {
  color: gold;
}

h1 ~ p,
h1 ~ * > p {
  background: black;
}
