/* Колір */
.card > p {
  color: #0d5ba5;
}

.card > p {
  color: rgb(162, 10, 245);
}

.card > p {
  color: rgba(169, 7, 238, 0.771);
}
P {
  background: rgba(141, 253, 4, 0.256);
}

/* Вендорні префікси */

.card > h1:hover {
  color: green;
  -webkit-text-fill-color: red;
  -webkit-text-stroke: 1px blue;

  direction: rtl;
}

#test {
  color: unset;
  -webkit-text-fill-color: unset;
  -webkit-text-stroke: unset;

  text-align: center;
}

pre {
  tab-size: 6;
}

h2 {
  letter-spacing: 0.2em;
  text-decoration: overline underline dotted red;
}
h2:hover {
  text-decoration-line: line-through;
  text-decoration-style: wavy;
}

/* Шрифти */

* {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-display: swap;
}

h2 {
  font-size: xx-large;
  font-weight: lighter;
}

span {
  font-size: larger;
  font-weight: 900;
  font-style: oblique;
}

.test {
  display: none;
}

.block {
  display: inline-block;
  background-color: #0d5ba5;
  margin: auto;

  width: 100%;
  min-width: 600px;
}

